-
  var menu = [
    {
      text: 'menu_1',
      icon: 'fa-wallet',
      list: [
        {
          text: 'menu_2',
          link: "./accounts.html"
        },
        {
          text: 'menu_3',
          link: "#"
        },
        {
          text: 'menu_4',
          link: "#"
        },
      ]
    },
    {
      text: 'menu_5',
      icon: 'fa-users',
      list: [
        {
          text: 'menu_6',
          link: "#"
        },
      ]
    },
    {
      text: 'menu_7',
      icon: 'fa-ticket-alt',
      list: [
        {
          text: 'menu_8',
          link: "./tickets.html"
        },
      ]
    },
    {
      text: 'menu_9',
      icon: 'fa-credit-card',
      list: [
        {
          text: 'menu_10',
          link: "#"
        },
        {
          text: 'menu_11',
          link: "#"
        },
        {
          text: 'menu_12',
          link: "#"
        },
        {
          text: 'menu_13',
          link: "./daily_report.html"
        },
        {
          text: 'menu_14',
          link: "#"
        },
      ]
    },
    {
      text: 'menu_15',
      icon: 'fa-user',
      src: './profile.html',
      list: []
    }
  ]

mixin nav
  nav.nav&attributes(attributes)
    .nav__wrapper
      .nav__logo
        a(href="./index.html").logo
      hr.hr
      ul.hav__list
        each item in menu
          li.nav__item
            if item.src
              a(href=item.src).nav__link.js-nav-link
                i.fa(class=item.icon).nav__icon
                span(data-lang=`${item.text}`)
            else
              a.nav__link.js-nav-link
                i.fa(class=item.icon).nav__icon
                span(data-lang=`${item.text}`)
                if item.list.length !== 0
                  i.fa.fa-angle-down.nav__arrow
              .submenu.js-submenu
                each link in item.list
                  a(href=link.link data-lang=`${link.text}`).submenu__item
